* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
  }

body {
    background: rgb(237, 157, 101);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .todo-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 5px;
    justify-content: center;
  }

  .todo-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
  }

  .todo-body input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-size: 20px;
  }

  .add {
    cursor: pointer;
    border-radius: 50%; 
    height: 55px;
    width: 55px;
    padding: 0; 
    background-color: transparent; 
    background-image: url('images/plus.jpg'); 
    background-size: cover; 
    background-position: center; 
    border: none;
  }
  
  .create-container {
    background: #ffffff;
    padding: 25px;
    width: 550px;
    border-radius: 10px;
  }