
body {
  background: rgb(237, 157, 101);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.create-container {
  background: #ffffff;
  padding: 15px; 
  width: 450px; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-size: 14px; 
}


.todo-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
}

.todo-header h2 {
  font-size: 22px; 
  margin-right: 10px; 
}

.todo-header img {
  height: 40px; 
  width: 40px;
}


label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px; 
}

textarea {
  resize: none;
  height: 60px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; 
}

#add_task,
#back_button {
  cursor: pointer;
  height: 40px; 
  width: 40px;
  border-radius: 50%;
  transition: transform 0.3s, box-shadow 0.3s;
}

#add_task:hover,
#back_button:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
